@charset "utf-8";

@font-face {
  font-family: SDGothicNeoR-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/A400SDGothicNeoR-Regular.woff2) format("font-woff2"),
    url(fonts/A400SDGothicNeoR-Regular.woff) format("woff"),
    url(fonts/A400SDGothicNeoR-Regular.ttf) format("truetype");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: SDGothicNeoSB-SemiBold;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/A500SDGothicNeoSB-SemiBold.woff2) format("font-woff2"),
    url(fonts/A500SDGothicNeoSB-SemiBold.woff) format("woff"),
    url(fonts/A500SDGothicNeoSB-SemiBold.ttf) format("truetype");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: SDGothicNeoB-Bold;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/A600SDGothicNeoB-Bold.woff2) format("font-woff2"),
    url(fonts/A600SDGothicNeoB-Bold.woff) format("woff"),
    url(fonts/A600SDGothicNeoB-Bold.ttf) format("truetype");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: NobelL-Light;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/A100NobelL-Light.woff2) format("font-woff2"),
    url(fonts/A100NobelL-Light.woff) format("woff"),
    url(fonts/A100NobelL-Light.ttf) format("truetype");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: NobelBook-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/A200NobelBook-Regular.woff2) format("font-woff2"),
    url(fonts/A200NobelBook-Regular.woff) format("woff"),
    url(fonts/A200NobelBook-Regular.ttf) format("truetype");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: NobelR-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/A300NobelR-Regular.woff2) format("font-woff2"),
    url(fonts/A300NobelR-Regular.woff) format("woff"),
    url(fonts/A300NobelR-Regular.ttf) format("truetype");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: NobelB-Bold;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/A400NobelB-Bold.woff2) format("font-woff2"),
    url(fonts/A400NobelB-Bold.woff) format("woff"),
    url(fonts/A400NobelB-Bold.ttf) format("truetype");
  text-rendering: optimizeLegibility;
}

/* reset css */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
textarea,
button,
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  margin: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  display: block;
}

html,
body {
  position: relative;
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  background: var(--bgr--white);
  color: var(--txt-black);
  font-family: NobelBook-Regular, SDGothicNeoR-Regular, Malgun Gothic, 맑은 고딕,
    AppleGothicNeoSD, Apple SD 산돌고딕 Neo, Microsoft NeoGothic, Droid sans,
    Dotum, 돋움, 굴림, arial, sans-serif;
}

img,
form,
fieldset,
svg,
li {
  border: 0;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;
  margin: -1px;
}

input,
button,
select {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address,
caption,
em {
  font-style: normal;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* reset css */

/* variable css */
:root {
  --txt-white: white;
  --txt-black: #000;
  --txt-yellow: #fff960;
  --txt-grey: #656565;
  --txt-blue: #00a3ff;
  --txt-blue2: #0f0a4a;
  --txt-red: #ca3838;
  --txt-green: #1e9f7a;
  --bgr--white: white;
  --bgr--black: #000;
  --bgr--grey: #f0f0f0;
  --bgr--back-grey: #2c2c2c;
  --swiper-theme-color: #fff !important;
}
/* // variable css */

/*<!-- general -->*/
/* .is_show {
  display: block;
}
.off {
  display: none;
} */
.on {
  opacity: 1;
}
.is-on {
  font-family: NobelB-Bold, SDGothicNeoB-Bold !important;
}
.is-active {
  color: var(--txt-white) !important;
  font-family: NobelBook-Regular !important;
}
.blur {
  opacity: 0.4;
}
.overlay {
  backdrop-filter: blur(40px);
  background: rgba(66, 66, 66, 0.2);
  display: none;
  left: 0;
  position: fixed;
  top: 75px;
  height: 100vh;
  width: 100%;
}
.btn__close{
  display: inline-block;
  position: absolute;
  cursor: pointer;
  top: 50px;
  right: 50px;
  width: 30px;
  height: 30px;
  opacity: 1;
  transition: all 0.2s ease;
  background: url(img/icon/btn_close_w.svg)  no-repeat center/cover;
}
.btn__close:hover{
  opacity: 0.5;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-horizontal-gap, 10px) !important;
}
.swiper-pagination-clickable .swiper-pagination-bullet:hover {
  background: var(--bgr--white) !important;
}
/*<!-- //general -->*/

/* <!-- Header --> */
.wrap {
  position: relative;
}
.header {
  display: flex;
  position: fixed;
  height: 75px;
  width: 100%;
  padding: 0 2vw;
  align-items: center;
  background: var(--bgr--white);
  z-index: 999;
  box-sizing: border-box;
  border-bottom: 1px solid #e3e3e3;
}
.header__logo {
  height: 33px;
  flex: 0 0 141px;
  padding: 21px 30px;
  cursor: pointer;
}
.header__logo-img {
  width: 100%;
  height: 100%;
}
.header__wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  padding-left: 80px;
}
.header__menu-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}
/* .header__menu-list::before {
  content: "";
  position: absolute;
  top: 65px;
  width: 320px;
  height: 24px;
  z-index: 4;
  background-color: #ccc;
} */
.header__menu-item {
  padding: 9px 15px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: NobelB-Bold, SDGothicNeoB-Bold;
  cursor: pointer;
}
.header__menu-child {
  position: absolute;
  left: 0;
  width: 20%;
  background: var(--bgr--grey);
  height: calc(100vh - 75px);
  transform: translateX(-100%);
  transition: all 0.3s ease;
  z-index: 2;
}
/* .header__menu-list:hover + .header__menu-child {
  transform: translateX(0);
  z-index: 2;
} */
.item__child {
  padding: 60px 0px 56px 20%;
}
.item__child ul li {
  position: relative;
  margin: 30px 0;
  cursor: pointer;
  font-size: 21px;
  line-height: 24px;
  font-family: NobelBook-Regular, SDGothicNeoR-Regular;
}
.item__child ul li {
  display: flex;
  align-items: center;
}
.item__child ul li:first-child {
  margin-top: 0;
}
.item__child ul li:last-child {
  margin-bottom: 0;
}
.item__child ul li::after {
  opacity: 0;
  content: "";
  position: absolute;
  background: url(img/icon/btn_nextRight_b.svg) no-repeat center/contain;
  width: 10px;
  height: 10px;
  right: 0;
  transform: translate3d(-10px, 0, 0);
  transition: opacity 0.1s, transform 0.1s;
}
/* .item__child ul li:hover {
  font-family: NobelB-Bold, SDGothicNeoB-Bold;
  width: 125px;
} */
/* .item__child--model ul li:hover:last-child {
  width: 150px;
} */
.item__child ul li.is-on::after {
  opacity: 1;
  transform: translateZ(0);
}
.item__child--buy ul li,
.item__child--servic ul li {
  font-size: 18px;
}
.item__child ul {
  width: 60%;
}
.item__child--servic ul li span {
  width: 125px;
}
.item__child--brand ul li span {
  width: 125px;
}
.item__child--servic ul li span:last-child {
  width: 130px;
}
.item__child--brand ul li span:last-child {
  width: 130px;
}

/*<!-- level 2 -->*/
.child__lvtwo {
  position: absolute;
  top: 0;
  left: 20vw;
  width: 100%;
  height: calc(100vh - 75px);
  background: var(--bgr--back-grey);
  color: var(--txt-white);
}
.child__lvtwo-item {
  padding: 60px 0 56px 0;
}
.child__lvtwo-item ul {
  width: 63%;
}
.child__lvtwo-item ul li {
  padding-left: 40%;
  /* margin: 15px 30px 15px 0; */
  color: var(--txt-grey);
  width: 88%;
  font-family: NobelBook-Regular;
}
/* .child__lvtwo-item ul li:hover {
  color: var(--txt-white);
  font-family: NobelBook-Regular;
} */
.child__lvtwo-item ul li::after {
  background: url(img/icon/btn_nextRight_w.svg) no-repeat center/contain;
}
.child__lvtwo-item ul li.is-active::after {
  opacity: 1;
  transform: translateZ(0);
}
.lvtwo__list li span{
  width: 100%;
} 
/* .child__lvtwo-benefit ul li {
  color: var(--txt-grey);
  font-family: SDGothicNeoR-Regular;
} */
/* .child__lvtwo-benefit ul li:hover {
  color: var(--txt-white);
  font-family: SDGothicNeoR-Regular;
} */
.child__lvtwo-accessory ul li {
  color: var(--txt-grey);
  font-family: SDGothicNeoR-Regular !important;
}
.child__lvtwo-accessory ul li:hover {
  color: var(--txt-white) !important;
  font-family: SDGothicNeoR-Regular !important;
}
.child__lvtwo-about ul li {
  font-size: 18px;
  font-family: SDGothicNeoR-Regular !important;
}
.child__lvtwo-about ul li:hover {
  font-family: SDGothicNeoR-Regular !important;
}
.child__lvtwo-story ul li {
  font-size: 20px;
}
.child__lvtwo-story ul li:hover {
  font-size: 20px;
}

/*<!-- //level 2 -->*/
/*<!-- level 3 -->*/
.child__lvthree {
  position: absolute;
  top: 0;
  width: 300%;
  left: 20vw;
  overflow: hidden;
}

.child__lvthree-image {
  animation: fadeScaleIn 0.6s cubic-bezier(0, 0.35, 0, 1);
}
@keyframes fadeScaleIn {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.child__lvthree-wrap{
  position: relative;
}
.child__lvthree-image {
  width: 100%;
  height: calc(100vh - 75px);
}
.child__ls500h--image {
  background: url(img/bg_pc_ls500h.jpg) no-repeat center/cover;
}
.child__ls500--image {
  background: url(img/bg_pc_ls500.jpg) no-repeat center/cover;
}
.child__lvthree-title{
  position: absolute;
  top: 90px;
  left: 60px;
  z-index: 99;
} 
.child__lvthree-title h2{
  font-family: NobelBook-Regular;
  font-size: 47px;
  margin-bottom: 20px;
}
.child__lvthree-title span{
  font-family: NobelBook-Regular,SDGothicNeoR-Regular;
  font-size: 25px;
}
.child__lvthree-content{
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.lvthree__content-list{
  display: flex;
}
.lvthree__content-item{
  color: var(--txt-white);
  margin: 0 38px 0;
}
.lvthree__content-item dt{
  font-family: NobelBook-Regular,SDGothicNeoR-Regular;
  font-size: 20px;
  text-align: center;
}
.lvthree__content-item span{
  display: block;
  font-family: NobelBook-Regular,SDGothicNeoR-Regular;
  font-size: 28px;
  text-align: center;
}
/*<!-- //level 3 -->*/
.utils__submenu {
  margin: 35px 40px 0 75px;
  padding-top: 15px;
  border-top: 1px solid #d8d8d8;
}
.utils__submenu-item {
  padding: 10px 0;
}
.utils__submenu-item a:hover {
  font-family: NobelB-Bold, SDGothicNeoB-Bold;
}
.utils__submenu-item a {
  display: inline-block;
  width: 100%;
  color: #717171;
  font-family: NobelBook-Regular, SDGothicNeoR-Regular;
  font-size: 14px;
}

.header__quickmenu-list {
  display: flex;
}
.header__quickmenu-item {
  display: flex;
  text-transform: uppercase;
}
.header__quickmenu-item {
  color: var(--txt-black);
  padding: 10px 15px;
}

/* <!-- //Header --> */

/* <!--Kv Section--> */
.kv {
  /* position: absolute; */
  padding-top: 75px;
}
.kv__slider-item {
  width: 1920px;
  height: 1000px;
  position: relative;
}
.kv__slider-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* <!-- //swiper --> */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* <!-- swiper --> */
.kv__slider-title {
  position: absolute;
  top: 90px;
  left: 152px;
  color: var(--txt-white);
  display: flex;
}
.kv__title-content {
  font-size: 250px;
  text-transform: uppercase;
  font-family: NobelR-Regular;
  line-height: 1;
  margin-right: 45px;
  letter-spacing: -0.03em;
  font-weight: 400;
}

.kv__desc-title {
  /* font-family: SDGothicNeoSB-SemiBold; */
  font-size: 40px;
  margin-top: 28px;
}
.kv__desc-content {
  margin-top: 25px;
  font-family: NobelBook-Regular;
  font-size: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}
.kv__title-content--rx,
.kv__desc-content--rx,
.kv__desc-title--rx,
.desc__btn-link--white {
  color: var(--txt-white);
}
.kv__title-content--rz,
.kv__desc-content--rz,
.kv__desc-title--rz,
.desc__btn-link--black {
  color: var(--txt-black);
}
.desc__btn-link--white {
  border: 1px solid var(--txt-white);
}
.desc__btn-link--black {
  border: 1px solid var(--txt-black);
}
.desc__btn-link--white:hover {
  background: var(--bgr--white);
  color: var(--txt-black);
}
.desc__btn-link--black:hover {
  background: var(--bgr--black);
  color: var(--txt-white);
}
.desc__btn {
  display: flex;
  margin-top: 45px;
}
.desc__btn-link {
  height: 48px;
  width: 184px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: SDGothicNeoR-Regular;
  font-size: 16px;
  transition: all 0.3s ease;
}
.desc__btn-link:first-child {
  margin-right: 12px;
}
/* <!--//Kv Section--> */

/* Animation */

@keyframes slideIn {
  0% {
    left: -100%; /* Start outside the screen */
    opacity: 0;
  }
  100% {
    left: 0; /* End position left 0 */
    opacity: 1;
  }
}

/* //Animation */
